.inputText {
    /*overflow: hidden;*/
    resize: none;
    box-sizing: border-box;
    width: 75%;
    border: #f0b286 4px solid;
    border-radius: 10px;
    height: 50%;
    background: #9e643a;
    padding: 1.5em;
    font-size: 0.875em;
    text-align: justify;
}

.formInput {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5%;
    width: 100%;
}

.inputText:focus {
    outline: none;
}

.inputText::placeholder {
    color: #f0b286;
    font-size: 1.5em;
}

.operations {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}