.notification {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #f0b286;
    border-radius: 10px;
    border: #6c3106 2px solid;
    padding: 0 15px;
    max-width: 10vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.text {
    font-weight: 700;
    font-size: 16px;
}

.notification.visibility {
    opacity: 1;
}