.inputText {
    background: #f0b28679;
    border-radius: 10px;
    border: none;
    font-size: 0.875em;
    padding: 0 0.5em;
    height: calc(100% - 12px);
    width: calc(100% - 12px - 1em);
    transition: all 0.3s ease-in-out;
}

.inputText::placeholder {
    color: #6c3106;
}

.inputText:focus, .inputText:hover {
    border: #f0b286 6px solid;
    outline: none;
}

.inputText:disabled {
    opacity: 0.5;
}

.divInput {
    display: flex;
    justify-content: center;
    align-items: center;
}