.button {
    background: #9e643a;
    border-radius: 10px;
    border: #f0b286 4px solid;
    font-family: Arial, serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0.5em;
    color: #6c3106;
}