.button {
    background: #9e643a;
    border-radius: 10px;
    border: #f0b286 4px solid;
    font-weight: 700;
    font-size: 14px;
    padding: 0.5em;

}
.button:disabled{
    opacity: 0.5;
}

.button:hover{
    border: #f0b286 4px solid;
    background: #9e643a;
    opacity: 0.7;
}