.element {
    height: 10vh;
    background: #f0b28679;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 25px;
    padding: 0 25px;
}
.number{
    font-size: 20px;
    font-weight: 800;
}
.text {
    font-size: 20px;
}
