.inputText{
    background: #f0b28679;
    border-radius: 10px;
    border: none;
    font-family: Arial, serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 0.5em;
    height: 75%;
    width: clamp(10vw,25vw,15vw);
    color: #6c3106;
}

.inputText::placeholder {
    font-family: Arial, serif;
    color: #6c3106;
}