.divButtons {
    display: flex;
    gap: 10px;
    padding: 3% 5%;
    border-radius: 10px;
    border: #f0b286 solid 4px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 7%;
}
.isActive{
    opacity: 0.5;
}

.divSpans {
    display: flex;
    gap: 10px;
    padding: 3% 5%;
    border-radius: 10px;
    border: #f0b286 solid 4px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 7%;
}
.divSpans span {
    color: #000000;
    font-weight: 800;
}

.playField {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
}
.divOperations{
    display: flex;
    justify-content: space-evenly;
}