.calculator {
    margin: 2.5% 35%;
    width: 25%;
    padding: 2.5%;
    background: #f0b28679;
    border-radius: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.answer {
    height: 1.5em;
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 800;
    background: #9e643a;
    text-align: right;
    padding: 0.5rem;
    border-radius: 10px;
}

.intermediateValues {
    height: 1.5rem;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 0;
    font-weight: 800;
    text-align: right;
    padding-right: 10px;
}
